{% extends 'base.html.twig' %}

{% block title %}Add Student{% endblock %}

    
{#  {% if isUpdate %}
     <h1> Modifier un Etudiant</h1>
 {% endif %}

  {% if isSubmitted %}
         <h1> Ajouter un Etudiant</h1>
 {% endif %} #}


{% block body %}
   {{ form(formStudent) }}
 

 {% endblock %}



   