{% extends 'base.html.twig' %}

{% block title %}list!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
       <h1> list des club </h1>


    <table class="table table-striped" >

        <thead  >

        <th>
            <tr>
                <td>Id</td>
                <td>Email</td>
                <td>Classroom</td>
                <td> Action</td>
                <td> Action</td>
            </tr>
        </th>
        </thead>
        <tbody>
        {% for item in clubs %}
            <tr>
                <td> {{ item.Ref  }}</td>
                <td> {{ item.Ref}}</td>
                <td> {{ item.Ref }}</td>
                <td> <a href="" > Update</a></td>
                <td>  <a href="">Delete</a> </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
 <a href="./addClub">  Ajouter un club</a>

{% endblock %}
